# Lambda with map(), filter(), reduce()

1. map(): when you want to apply a function to each element of an iterable and get a transformed iterable as a result <br>
2. filter(): Use filter when you want to selectively include or exclude elements from an iterable based on a condition. <br>
3. reduce(): Use reduce when you want to successively apply a binary function to the items of an iterable, reducing it to a single accumulated result.

In [1]:
num = [1,2,4,5,7,10]
num

[1, 2, 4, 5, 7, 10]

In [2]:
def sq(x):
    return x**x
sq(3)

27

In [3]:
num = [1,2,4,5,7,10]
num

[1, 2, 4, 5, 7, 10]

In [4]:
#map(function, iteable object)
num = list(map(lambda x:x**2, num))
num

[1, 4, 16, 25, 49, 100]

In [5]:
#filter(function, iteable object)
num = list(filter(lambda num: num%2==1, num))
num

[1, 25, 49]

In [6]:
from functools import reduce
reduce(lambda a,b:a+b , num)

75

In [7]:
sum(num)

75